!!! 5
html
	head
		link(type="text/css",rel="stylesheet",href="css.css")
		link(type="text/css",rel="stylesheet",href="custom.css")
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
		script(type="text/javascript",src="assets/js/head.min.js")
	body

		#overlay.overlay	
				.meter
					span

				span#popup


				button#close X

		.frame
			.creativetime
				.grid
					span#hash
						object(data="assets/img/hash/letter_hash.svg", type="image/svg+xml")

					span#I
						object(data="assets/img/I/letter_I.svg", type="image/svg+xml")
					
					span#H
						object(data="assets/img/H/letter_H.svg", type="image/svg+xml")
					
					span#E
						object(data="assets/img/E/letter_E.svg", type="image/svg+xml")
					
					span#A
						object(data="assets/img/A/letter_A.svg", type="image/svg+xml")

					span#R
						object(data="assets/img/R/letter_R.svg", type="image/svg+xml")

					span#D
						object(data="assets/img/D/letter_D.svg", type="image/svg+xml")

					span#N
						object(data="assets/img/N/letter_N.svg", type="image/svg+xml")

					span#Y
						object(data="assets/img/Y/letter_Y.svg", type="image/svg+xml")


				.nav
					.wrapper
						.arrow.left
						nav
							ul
								li.active #
								li I
								li h
								li e
								li a
								li r
								li d
								li n
								li y
						.arrow.right
		div#tweets.tweets
			include twitter

		.body


	script
		head.js(
		{jQuery: "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
		, {custom: "assets/js/js.js"}
		, {transit: "assets/js/jquery.transit.js"}
		, {twtter: "http://platform.twitter.com/widgets.js"}
		, {vine: "http://platform.vine.co/static/scripts/embed.js"}
		, function() {
			console.log("Head JS Finished");
			
		});