#E8
	blockquote.twitter-tweet
		p
			| I have to agree w the kids: horses that separate into dancing heads and butts are pretty awesome.
			a(href='https://twitter.com/search?q=%23NickCave&src=hash') #NickCave
			a(href='https://twitter.com/search?q=%23iheardny&src=hash') #iheardny
		| — Leila Walker (@leilathebrave)
		a(href='https://twitter.com/leilathebrave/statuses/316943572211482624') March 27, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#H5
	blockquote.twitter-tweet
		p
			a(href='https://twitter.com/search?q=%23IHEARDNY&src=hash') #IHEARDNY
			| Swishy horses	saunter, roll & hop in GCT.	a must hear & see
		| — Brece Honeycutt (@BreceHoneycutt)
		a(href='https://twitter.com/BreceHoneycutt/statuses/316210228532244485') March 25, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#Y7
	blockquote.twitter-tweet
		p
			| Scene and herd: Nick Cave opens
			a(href='https://twitter.com/search?q=%23IheardNY&src=hash') #IheardNY
			| at Grand Central via
			a(href='https://twitter.com/creativetimeNYC') @creativetimenyc
			a(href='http://t.co/t5h5p8uYZp') pic.twitter.com/t5h5p8uYZp
		| — Robin Cembalest (@ARTnewsmag)
		a(href='https://twitter.com/ARTnewsmag/statuses/316198477401038848') March 25, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#N4
	blockquote.twitter-tweet
		p
			| Nick Cave thanking the wonderful
			a(href='https://twitter.com/search?q=%23IHEARDNY&src=hash') #IHEARDNY
			| dancers moments before the final performance.
			a(href='http://t.co/mHAEi7Aq8G') pic.twitter.com/mHAEi7Aq8G
		| — Creative Time (@creativetimeNYC)
		a(href='https://twitter.com/creativetimeNYC/statuses/318419069554548736') March 31, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#N14
	blockquote.twitter-tweet
		p
			| Every single person here is smiling.
			a(href='https://twitter.com/search?q=%23IHeardNY&src=hash') #IHeardNY
		| — Gardenia (@gardenia)
		a(href='https://twitter.com/gardenia/statuses/317075181849956353') March 28, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#I2
	blockquote.twitter-tweet
		p
			| 2 very different Nick Caves in 1 day. I'm a lucky girl.
			a(href='https://twitter.com/search?q=%23NickCaveBeacon&src=hash') #NickCaveBeacon
			a(href='https://twitter.com/search?q=%23iheardny&src=hash') #iheardny
			a(href='http://t.co/dbdQ0x7EgD') pic.twitter.com/dbdQ0x7EgD
		| — Nina (@GetNinafied)
		a(href='https://twitter.com/GetNinafied/statuses/318164917712728064') March 31, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#hash4
	blockquote.twitter-tweet
		p
			| Debut crossing awesome! Thanks for
			a(href='https://twitter.com/search?q=%23IHeardNY&src=hash') #IHeardNY
			| , MTA
			a(href='https://twitter.com/ArtsforTransit') @ArtsforTransit
			| . Alt. title: "If You See Something, Neigh Something?"
		| — Brookdub (@brookdub)
		a(href='https://twitter.com/brookdub/statuses/316233588439912448') March 25, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#R3
	blockquote.twitter-tweet
		p
			| Overheard A LOT at
			a(href='https://twitter.com/search?q=%23Iheardny&src=hash') #Iheardny
			| : "It made me cry". Art by Nick Cave as part of
			a(href='https://twitter.com/GrandCentralNYC') @GrandCentralNYC
			a(href='https://twitter.com/search?q=%23GCT100&src=hash') #GCT100
			| celebrations.
			a(href='http://t.co/OwcIKeF2wc') pic.twitter.com/OwcIKeF2wc
		| — istillheartnewyork (@istillheartny)
		a(href='https://twitter.com/istillheartny/statuses/318548243392909314') April 1, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#hash15
	blockquote.twitter-tweet
		p
			| Last chance: The "horses" in
			a(href='https://twitter.com/search?q=%23IHeardNY&src=hash') #IHeardNY
			| prance out of
			a(href='https://twitter.com/GrandCentralNYC') @GrandCentralNYC
			| station tonight.
			a(href='http://t.co/UIa0rioxce') http://t.co/UIa0rioxce
		| — Time Out New York (@TimeOutNewYork)
		a(href='https://twitter.com/TimeOutNewYork/statuses/318352130752778241') March 31, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#R7
	blockquote.twitter-tweet
		p
			| I want a Nick Cave horse for my apartment.
			a(href='http://t.co/OUU3AkGDlk') http://t.co/OUU3AkGDlk
			a(href='https://twitter.com/search?q=%23iheardny&src=hash') #iheardny
		| — kaitlintara (@kaitlintara)
		a(href='https://twitter.com/kaitlintara/statuses/318508965040361472') March 31, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#hash2
	blockquote.twitter-tweet
		p
			| Watch an excerpt from Nick Cave's "Crossings"
			a(href='https://twitter.com/search?q=%23IHeardNY&src=hash') #IHeardNY
			| Grand Central Terminal. dramatic transitions min. 2:38 & 5:04
			a(href='http://t.co/yqlsSx63pF') http://t.co/yqlsSx63pF
		| — colleen m flanigan (@misssnailpail)
		a(href='https://twitter.com/misssnailpail/statuses/319141812000395264') April 2, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#Y3
	blockquote.twitter-tweet
		p
			| Love how you can interact w photos/vines from today's Nick Cave shows on Creative Time's site:
			a(href='http://t.co/TWHsmkuqyw') http://t.co/TWHsmkuqyw
			a(href='https://twitter.com/search?q=%23publicart&src=hash') #publicart
			a(href='https://twitter.com/search?q=%23iheardny&src=hash') #iheardny
		| — Lainna Fader (@lainnafader)
		a(href='https://twitter.com/lainnafader/statuses/316274975768203264') March 25, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#A7
	blockquote.twitter-tweet
		p
			| Ohhhhh Wait so the "Nick Cave" at grand central is not Nick Cave the musician ! Ahhhhh now everything makes sense again!
			a(href='https://twitter.com/search?q=%23iheardny&src=hash') #iheardny
			| !!!
		| — nacona (@nacona)
		a(href='https://twitter.com/nacona/statuses/317994588965056513') March 30, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#H2
	blockquote.twitter-tweet
		p
			| Going to miss this horse.
			a(href='https://twitter.com/search?q=%23heardny&src=hash') #heardny
			a(href='https://twitter.com/search?q=%23iheardny&src=hash') #iheardny
			a(href='https://twitter.com/search?q=%23nickcave&src=hash') #nickcave
			a(href='https://twitter.com/search?q=%23grandcentral&src=hash') #grandcentral
			a(href='http://t.co/HQYRJyZGzf') pic.twitter.com/HQYRJyZGzf
		| — pointeshew (@pointeshew)
		a(href='https://twitter.com/pointeshew/statuses/318410265265831937') March 31, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#D12
	blockquote.twitter-tweet
		p
			| The
			a(href='https://twitter.com/search?q=%23iheardny&src=hash') #iheardny
			| website has the best social-media integration I've ever seen.
			a(href='http://t.co/14gLT6k0MN') http://t.co/14gLT6k0MN
		| — Keith Williams (@TheWeeklyNabe)
		a(href='https://twitter.com/TheWeeklyNabe/statuses/318442306829168640') March 31, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#A1
	blockquote.twitter-tweet
		p
			| Everyone I know on Twitter, Facebook, Instagram, Vine, and Snapchat is at Nick Cave's
			a(href='https://twitter.com/search?q=%23iheardny&src=hash') #iheardny
			| right now taking jaundiced photos.
		| — JiaJia Fei (@VAJIAJIA)
		a(href='https://twitter.com/VAJIAJIA/statuses/317077321792233472') March 28, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#H4
	blockquote.twitter-tweet
		p
			| 1 of the many special moments I witnessed 2day
			a(href='https://twitter.com/GrandCentralNYC') @GrandCentralNYC
			a(href='https://twitter.com/search?q=%23nickcave&src=hash') #nickcave
			a(href='https://twitter.com/search?q=%23iheardny&src=hash') #iheardny
			| cc:
			a(href='https://twitter.com/creativetimeNYC') @creativetimeNYC
			a(href='http://t.co/nOSfGReJ1Q') pic.twitter.com/nOSfGReJ1Q
		| — Katie Shulman (@katies023)
		a(href='https://twitter.com/katies023/statuses/317104660148285440') March 28, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#E3
	blockquote.twitter-tweet
		p
			a(href='https://twitter.com/search?q=%23IHeardNY&src=hash') #IHeardNY
			| - what made me the happiest is that it was free and excited a huge, diverse crowd in the best public space in New York.
		| — Michelle Vaughan (@black_von)
		a(href='https://twitter.com/black_von/statuses/318429128762224640') March 31, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#D2
	blockquote.twitter-tweet
		p
				| Loving the show of Heard NYC at grand central. I want to go to Alvin Ailey now!
				a(href='https://twitter.com/search?q=%23iheardny&src=hash') #iheardny
				a(href='http://t.co/dCsGhkqCS8') pic.twitter.com/dCsGhkqCS8
		| — Kim Foulds (@kimfoulds)
		a(href='https://twitter.com/kimfoulds/statuses/318381667934949376') March 31, 2013
	//script(async='async', src='//platform.twitter.com/widgets.js', charset='utf-8')
#R6
	blockquote.twitter-tweet
			p
					| Made good use of the morning off. Brought son to Grand Central &
					a(href='https://twitter.com/search?q=%23iheardny&src=hash') #iheardny
					| . combo of his two loves: horses & trains
					a(href='http://t.co/n0cmDTjX0f') pic.twitter.com/n0cmDTjX0f
			| — Aaron Bisman (@bizmonides)
			a(href='https://twitter.com/bizmonides/statuses/316206909201985536') March 25, 2013